:root {
  --primary-color: #ce1446;
  --secondry-color: #2d373c;
  --text-color: #515154;
  --white: #ffff;
}

* {
  ul,
  li {
    text-decoration: none;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Barlow", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: var(--secondry-color);
  color: var(--white);
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  padding: 10px 18px;
  position: relative;
  transition: all linear 0.3s;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0 5px;
}

.nav-links li:hover {
  border: 1px solid var(--white);
}

.nav-links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background: white;
  list-style: none;
  top: 100%;
  left: 0;
  padding: 0.5rem;
}
.dropdown-menu li {
  padding: 0.5rem;
}
.dropdown-menu li a {
  color: black;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.nav-button {
  background: var(--primary-color);
  color: white;
  font-weight: 700;
  font-size: 15px;
  padding: 0.7rem 2rem;
  cursor: pointer;
  border: 1px solid var(--white);
  border-radius: 5px;
  transition: all linear 0.3s;
}

.nav-button:hover {
  background-color: var(--white);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #333;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 1rem;
  }
  .nav-links.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}
